/* some basic resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}
/* basic reset ends */
/* canvas animation effect */
#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}
/* canvas animation ends */
.head-box {
  /* border: 2px solid green; */
  height: 120vh;
  position: relative;
}
.hd-lft {
  /* border: 2px solid red; */
  height: 100%;
  /* width: 100%; */
  background-image: url(../img/lftBg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
}
.imgs {
  position: absolute;
  top: 120px;
  left: 180px;
  max-width: 90%;
}
.imgs .img1 {
  margin-left: -10px;
}
.imgs .img2 {
  margin-left: 90px;
}
.imgs .img3 {
  margin-left: -70px;
}
.logo {
  position: absolute;
  top: 40px;
  left: 180px;
}
.logo img {
  height: 45px;
}
.hd-rgt {
  margin-left: 80px;
}
.text-container {
  width: 450px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-primary {
  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  /* line-height: 42px; */
  letter-spacing: 1.5px;
  color: #000000;
  text-align: left;
  animation-name: moveInTop;
  animation-duration: 2.5s;
  /* animation-timing-function: ease-out; */
  margin-bottom: 20px;
}
.heading-primary-sub {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.5px;
  text-align: left;
  margin-bottom: 25px;
  color: #000000;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
@keyframes moveInTop {
  0% {
    opasity: 0;
    transform: translateY(-100%);
  }
  20% {
    transform: translateX(20%);
  }
  40% {
    transform: translateX(-20%);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    opasity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* button animation and styling */
.btn-tp:link,
.btn-tp:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.2s;
  position: relative;
  left: 110px;
}

.btn-tp:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(63, 22, 22, 0.2);
}
.btn-grn {
  background: #1d8a4b;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.btn-tp::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-grn::after {
  background-color: #1d8a4b;
}
.btn-tp:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  animation-name: btnMoveIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}
@keyframes btnMoveIn {
  0% {
    opasity: 0;
    transform: translateY(100%);
  }

  100% {
    opasity: 1;
    transform: translateX(0);
  }
}

/* app features section styling */
.app-features {
  border-bottom: 3px solid #000000;
}
.card {
  border: none !important;
  background: none !important;
}
.card-body h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.card-body p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5;
  word-spacing: 1;
  color: #000000;
}
.app-tittle h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
/* app gallery section styling */
.gallery {
  height: auto;
  position: relative;
  border-bottom: 3px solid #000000;
}
.gallery-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.gallery-view-box {
  width: 60vw;
  margin: 0 auto;
  margin-top: 40px;
}
.gallery-view {
  margin-top: 170px;
}
.gallery-img {
  transition: opacity 2s ease;
  transition: all 1s;
}
.gallery-img:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.8);
}
.gallery-view-box .card-body p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
/* faq section styling */
.faq-box {
  /* border: 2px solid red; */
  height: 55px;
  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.faq-box img {
  height: 10px;
}
.faq-box h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 16px;
  color: #000000;
  /* margin-top: 10px; */
  justify-self: center;
  align-self: center;
}
.faq-container-foot p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.btn-fag:link,
.btn-faq:visited {
  padding: 15px 20px;
}
/* footer section styling */
footer {
  background: #000000;
  height: 200px;
}
footer .foot {
  margin-top: 50px;
}
.foot .footLogo img {
  height: 40px;
}
footer .social-icons {
  width: 200px;
  align-items: center;
}
footer .social-icons a i {
  font-size: 30px;
  color: #fff;
}
footer .copyrite {
  align-items: center;
  justify-content: center;
}
footer .copyrite p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 123.4%;
  color: #ffffff;
}
/* media query settings for smaller screen */
@media (max-width: 959px) {
  body {
    background: red;
    max-width: 900px;
  }
  .hd-lft {
    height: 100%;
    max-width: 90%;
    background-size: 100%;
    background-position: center;
    position: relative;
    margin-top: -235px;
    margin-left: -30px;
  }
  .imgs {
    border: 2px solid white;
    position: absolute;
    top: 390px;
    left: 180px;
    max-width: 90%;
  }
  .imgs img {
    height: 226px;
  }
  .imgs .img2 {
    margin-left: 60px;
  }
  .imgs .img3 {
    margin-left: -50px;
  }
  .logo {
    position: absolute;
    top: 25%;
    left: 120px;
  }
  .text-container {
    width: 750px;
    position: absolute;
    top: -50%;
    left: 130%;
    text-align: center;
  }
}
/* landscape view */
/* @media (max-width: 767px) {
  body {
    background: blue;
    max-width: 700px;
  }
  .hd-lft {
    height: 100%;
    max-width: 90%;
    background-image: url(../img/lftBg.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    position: relative;
    margin-top: -260px;
    margin-left: -20px;
  }
  .imgs {
    max-width: 90vw;
    display: flex;
    position: absolute;
    bottom: 140px;
    margin-left: -95px;
    height: auto;
  }
  .text-container {
    width: 100%;
    margin: 0 auto;
    max-width: 25vh;
    margin-top: -180px;
    padding: 20px;
    text-align: center;
  }
  .text-container .heading-primary-main {
    border: 2px solid red;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    width: 100% !important;
    margin: 0 auto;
  }
  .text-container .heading-primary-sub {
    display: inline-block;
    font-size: 18px;
  }
} */
/* mobile view */
@media (max-width: 479px) {
  body {
    background: yellow;
    overflow-x: hidden;
    max-width: 320px;
    margin: 0 auto;
  }
  .head-box {
    height: 95vh;
    position: relative;
    width: 100%;
  }
  .hd-lft {
    height: 100%;
    max-width: 100%;
    background-image: url(../img/lftBg.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    position: relative;
    margin-top: -260px;
    margin-left: -20px;
  }
  .imgs {
    max-width: 100%;
    display: flex;
    position: absolute;
    bottom: 140px;
    margin-left: -95px;
    height: auto;
  }
  .imgs img {
    width: 20vw;
  }
  .imgs .img1 {
    margin-left: -5px;
  }
  .imgs .img2 {
    margin-left: 8px;
  }
  .imgs .img3 {
    margin-left: -30px;
  }
  .logo {
    position: absolute;
    top: 5px;
    left: 10px;
  }
  .logo img {
    height: 25px;
  }
  .hd-rgt {
    margin: 0 auto;
    text-align: center;
  }
  .text-container {
    width: 70vw;
    margin: 0 auto;
    max-width: 25vh;
    margin-top: -280px;
    padding: 20px;
    text-align: center;
  }
  .text-container .heading-primary-main {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
  }
  .text-container .heading-primary-sub {
    display: inline-block;
    font-size: 14px;
  }
  .btn-grn {
    font-size: 13px;
    line-height: 15px;
    margin-left: -220px;
  }
  .app-features h2 {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 8px;
    margin-left: 20px;
  }
  .gallery-btn-box {
    text-align: center !important;
  }
  .faq-container {
    width: 100%;
  }
  .faq-container .faq-box {
    width: 100% !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
    padding: 20px 2px !important;
  }
  .faq-box h5 {
    font-size: 12px;
  }
  .faq-box img {
    height: 5px;
  }
  .faq-container-foot {
    display: flex;
    direction: column !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 10px 10px !important;
    height: auto;
    margin-top: 20px !important;
    text-align: center;
  }
  .faq-container-foot p {
    display: block !important;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
  }
  .faq-container-foot .btn-fag {
    font-size: 10px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-left: -110px;
  }
  footer {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 20px 5px;
  }
  .footLogo {
    width: 100%;
    margin: 10px;
  }
  .footLogo img {
    height: 20px !important;
  }
  .social-icons {
    width: 100%;
    justify-content: space-around;
    margin-left: 40px;
    padding: 10px;
  }
  .social-icons a i {
    font-size: 15px !important;
  }
  .copyrite p {
    font-size: 12px !important;
    margin: 10px;
  }
}
